body {
    font-family: 'Source Sans Pro', sans;
    font-size: 18px;
}

header{
    border-bottom: 1px solid #999;
    margin-bottom 2rem;
    display: flex;
}

header h1 a {
    color: red;
}

header h2 a {
    color: blue;
}

.nav-left {
    display: flex;
    padding-ton: 2rem
}

.nav-right {
    display: flex;
    padding-ton: 2rem;
}