{% extends 'home2.html' %}
{% if user.is_authenticated %}
	{% block content %}
			<div>
				<h1>
					<strong>
						<a href="{% url 'home2' %}"> Go to post list </a>
					</strong>
				</h1>
			</div>
			<br>
		
			<div class="post-entry">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
				<h2>
					<strong>
						{{ post.title }}
					</strong>
				</h2>
				<p> {{ post.body }}</p>
				<br>
				<h2>Comments...</h2>
					{% if not post.comments.all %}
						No comments Yet...<a href="{% url 'new_comment' post.pk %}">
						Add one</a>
						<br>
					{% elif post.comments.all %}
					<a href="{% url 'new_comment' post.pk %}">Add comment</a>
					<br>
							{% for comment in post.comments.all %}
								<h3>
									<strong>
										{{comment.name}} -
									</strong>
									{{comment.comment}}
								</h3>
							{% endfor %}
					{% endif %}
				<br>
				<a href="{% url 'new_comment' post.pk %}">Add comment</a>
				
			</div>
				
				<br>
				{% if user.is_authenticated %}
					<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
					<a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
					<a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a>
				{% else %}

				You are not logged in, therefore can't make changes
				
				{% endif %}

	{% endblock %}

{% else %}

You are not logged in, therefore can't make changes

{% endif %}
